.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.container {
  width: 50%;
  max-width: 800px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  padding-bottom: 2rem;
}

.backButtonContainer {
  align-self: flex-start;
  margin-left: 1rem;
}
