.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.container {
  height: 60%;
  width: 50%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: transparent;
}
