.root {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  box-shadow: var(--mantine-shadow-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-blue-filled) 0%,
    var(--mantine-color-cyan-filled) 100%
  );
}

.control {
  &::before {
    display: none;
  }
}

.label {
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}
