.groupsContainer {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
}

.listItem {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.4rem;
  color: var(--mantine-color-skyBlue-5);
  border-color: var(--mantine-color-skyBlue-5);
}
