.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--mantine-color-skyBlue-1);
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.waveContainer {
  height: 100%;
  width: 100%;
  /*background-color: aqua;*/
  overflow: hidden;
  opacity: 50%;
}
.waveBackground {
  width: 100%;
  height: 100%;
  opacity: 50%;
}
